.App {
  text-align: center;
  background-color: #50bde4;
  font-family: 'Quicksand', sans-serif;
  font-weight: 600;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.App-header,.App-main {
  background-color:#50bde4;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-main {
  min-height: fit-content;
  text-align: center;
  background-color: #50bde4;
  font-family: 'Quicksand', sans-serif;
  font-weight: 600;
}

.App-weather {
  border: 1px solid;
  padding: 20px;
  margin: 50px 0;
}

